html,
body {
  height: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6fa;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

h1 {
  font-family: "Courgette", cursive;
  font-size: 5em;
  background: linear-gradient(to right, #433ab4, #fd571d, #fcc445);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: "Courgette", cursive;
  font-size: 2.5em;
  color: #433ab4;
  margin-bottom: 10px;
}

p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

button {
  font-size: 1em;
  background-color: #433ab4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fd571d;
}

input {
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #433ab4;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

input:hover {
  border-color: #fd571d;
}

.weather-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

/*responsive design*/
@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
    word-wrap: break-word;
  }

  button {
    font-size: 0.8em;
  }

  input {
    font-size: 0.8em;
  }
}
